div{
    border: solid;
    height: 200px;
    width: 40%;
}
.box1{
    background-color: aquamarine;
    margin-top: 30%;
    margin-left: 30%;
}
.box2{
    background-color: darkorange;
    margin-top: 20%;
    margin-left: 30%;
}