.row{
    border: 1px solid black;
    background-color: rgb(194, 166, 56);
    width: 400px;
    height: 400px;
}
.col{
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid black;
    background-color: cornsilk;
    width: 200px;
    height: 200px;
}