body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}

.box1{
    background-color: aquamarine;
    width: 56px;
    height: 58px;
    margin-top: 9px;
    margin-left: 613px;
}
.box2{
    background-color: darkcyan;
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 673px;
}
.box3{
    background-color: lightgreen;
    width: 56px;
    height: 58px;
    margin-top: -57px;
    margin-left: 732px;
}
.box4{
    background-color: darkolivegreen;
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 791px;
}
.box5{
    background-color: rgb(7, 73, 7);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 850px;
}
.box6{
    background-color: rgb(71, 5, 49);
    width: 56px;
    height: 58px;
    margin-top: 2px;
    margin-left: 536px;
}
.box7{
    background-color: rgb(9, 58, 9);
    width: 56px;
    height: 58px;
    margin-top: -57px;
    margin-left: 594px;
}
.box8{
    background-color: rgb(41, 74, 124);
    width: 56px;
    height: 58px;
    margin-top: -59px;
    margin-left: 653px;
}
.box9{
    background-color: rgb(211, 198, 78);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 713px;
}
.box10{
    background-color: rgb(163, 42, 83);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 773px;
}
.b11{
    background-color: rgb(146, 65, 142);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 833px;
}
.b12{
    background-color: rgb(131, 48, 61);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 893px;
}
.b13{
    background-color: rgb(38, 161, 27);
    width: 56px;
    height: 58px;
    margin-top: 4px;
    margin-left: 713px;
}
.b14{
    background-color: rgb(31, 97, 141);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 772px;
}
.b15{
    background-color: rgb(233, 10, 96);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 832px;
}
.b16{
    background-color: rgb(206, 19, 243);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 891px;
}
.b17{
    background-color: rgb(153, 170, 54);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 952px;
}
.b18{
    background-color: rgb(77, 76, 58);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 653px;
}
.b19{
    background-color: rgb(133, 93, 131);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 593px;
}
.b20{
    background-color: rgb(14, 32, 80);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 534px;
}
.b21{
    background-color: rgb(56, 211, 216);
    width: 56px;
    height: 58px;
    margin-top: -58px;
    margin-left: 474px;
}







